
:root {
    --md-primary-fg-color:        #1d3557;
    --md-primary-fg-color--light: #F1F6F9;
    --md-primary-fg-color--dark:  #457b9d;
  }

h2 {
  color: #457b9d;
}

h1 {
  color: #1d3557;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0.5rem 1rem;
  background: #1d3557;
  border: None;
  border-radius: 15px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.1s ease-in-out 0.1s;  /*Opciones de transicion para objetos interactivos*/
}
button:hover{
  background: #457b9d;
}

ul.list-square {
  list-style-type: square;
}


.cover {
  min-height: 90vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(94, 94, 94, 0.5)),
                    url('../assets/figure1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cover h1 {
  color: #1d3557;
  font-size: 3rem;
  font-weight: bold;
}

.cover h2 {
  color: #f3f6f4;
  font-size: 2rem;
  padding: 1rem;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  text-align: center;
}

.centered h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}

/* Aminaciones de desvanecimiento */

.reveal {
  position: relative;
  opacity: 0;
}
.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

/* Aminaciones de desplazamiento */

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/* Carrucel */

.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(500px + 3em);
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  /*
  display: block;
  height: auto;
  width: 100%;
  */
  height: 100%;
  width: 100%;
  max-width: 200%;
  max-height: 200%;
  object-fit: cover;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #428bca;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}

/* Colomnas */

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 80%;
  align-items: center;
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
}

.row:after {
  content: "";
  display: table-row;
  clear: both;
}

/* Ajustar elementos a tamaño de pantalla */

@media screen and (max-width: 700px) {
  .cover h1{
    font-size: 1.8rem;
  }
  .cover h2{
    font-size: 1.2rem;
    padding: 0.4rem;
  }
  button {
    font-size: 1.0rem;
    padding: 0.2rem 0.5rem;
  }
  .column {
    width: 100%;
  }
  .slide-inner {
    height: calc(300px + 3em);
  }
  .centered h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .cover h1{
    font-size: 1.5rem;
  }
  .cover h2{
    font-size: 1rem;
    padding: 0.2rem;
  }
  button {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
  }
  .column {
    width: 100%;
  }
  .slide-inner {
    height: calc(200px + 2em);
  }
  .centered h2 {
    font-size: 1rem;
  }
}
